__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.venv/
projeto_atual/
cuts/
subs/
bkp/
tokens/
video_metadata.json
transcript_segments.json
transcript_words.json
video_descriptions.json
outputs/
*.mp4
*.m4a
*.log
cookies.txt
.git/
.env
